.layui-container .layui-row {
  margin-top: 15px;
}

.layui-container .cell {
  height: 6rem;
  text-align: center;
  padding: 0 15px 0 15px;
}

.layui-container .layui-col-md4 i {
  line-height: 6rem;
  font-size: 2rem;
  color: #ffffff;
}

.layui-container .layui-col-md4 span {
  line-height: 6rem;
  font-size: 1.4rem;
  color: #ffffff;
}
